# Project 1 House Price Prediction Model

In [1]:
# Importing the libraries

import pandas as pd

In [2]:
# Importing the training data

df = pd.read_csv("train.csv")
target = df['SalePrice']
features = df.loc[:,["OverallQual","YearBuilt","TotalBsmtSF","GrLivArea","FullBath","HalfBath","BedroomAbvGr","KitchenAbvGr","GarageCars","GarageArea"]]
features

,OverallQual,YearBuilt,TotalBsmtSF,GrLivArea,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,GarageCars,GarageArea
0,7,2003,856,1710,2,1,3,1,2,548
1,6,1976,1262,1262,2,0,3,1,2,460
2,7,2001,920,1786,2,1,3,1,2,608
3,7,1915,756,1717,1,0,3,1,3,642
4,8,2000,1145,2198,2,1,4,1,3,836
...,...,...,...,...,...,...,...,...,...,...
1455,6,1999,953,1647,2,1,3,1,2,460
1456,6,1978,1542,2073,2,0,3,1,2,500
1457,7,1941,1152,2340,2,0,4,1,1,252
1458,5,1950,1078,1078,1,0,2,1,1,240
1459,5,1965,1256,1256,1,1,3,1,1,276